.notification-btn {
  position: fixed;
  right: 1%;
  top: 1%;
  padding-left: 13px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  align-items: center;
  width: 60px;
  height: 40px
}

.fas.fa-bell {
  margin-right: 10px;  /* Space between the icon and the badge */
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
}

#dropdown_notification{
  position: absolute;
  width: 200px;
  height: 300px;
  right: 1%;
  top: 40px;
  background-color: #252525;
  overflow: auto;
  z-index: 10;
  cursor: auto;
}